<!-- Main jumbotron for a primary marketing message or call to action -->
    	<div class="jumbotron">
    		<div class="container">	
        		<h1>Florida Gators</h1>
        		<h2>2016-2017 Men's Basketball</h2>
        		<p>Your hub for everything Florida Gators basketball. Schedule, scores, stats, news, and more.</p>
        		<p><a class="btn btn-primary btn-lg" href="#schedule" role="button">See Schedule/Scores &raquo;</a></p>
    		</div><!-- /.container -->
    	</div><!-- /.jumbotron -->